<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./font/download/myFont/iconfont.css">
    <link rel="stylesheet" href="./css/boot/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/addShop.css">
    <title><%= title%></title>
</head>
<body>
<header>
    <div class="met-nav">
        <div class="container">
            <div class="row">
                <div class="nav-logo">
                    <a href="">
                        <img src="./images/about/1495680343.png" alt="">
                    </a>
                </div>
                <div class="pull-md-right">
                    <ul class="met-head-user">
                        <li class="text-xs-center">
                            <a href="/login" class="btn btn-squared btn-primary btn-outline text-enter">登 录</a>
                            <a href="/register" class="btn btn-squared btn-success text-sign">注 册</a>
                        </li>
                        <li class="vertical-align-middle">
                            <a href="">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                购物车
                                <span class="shop-number">2</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-md-left">
                    <ul class="nav navbar-nav navlist">
                        <li class="nav-item">
                            <a href="/">首页</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dcl/join">加入我们</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dcl/contact">联系我们</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dcl/company/">关于公司</a>
                            <div class="dropdown">
                                <a href="/dcl/company/">公司简介</a>
                                <a href="/dcl/company#/xianshang">线上反馈</a>
                                <a href="/dcl/join">加入我们</a>
                                <a href="/dcl/contact">联系我们</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/shopElectronics">电子产品</a>
                            <div class="dropdown">
                                <a href="/shopElectronics">电子产品</a>
                                <a href="">热门手机</a>
                                <a href="">耳机音响</a>
                                <a href="">手机配件</a>
                                <a href="/accessoryRim">周边产品</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="">新闻中心</a>
                            <div class="dropdown">
                                <a href="dropdown-item">新闻中心</a>
                                <a href="dropdown-item">新闻动态</a>
                                <a href="dropdown-item">官方新闻</a>
                                <a href="dropdown-item">最新资讯</a>
                                <a href="dropdown-item">图片展示</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>