<% include ./personal_header %>
<body>
    <div class="personal">
        <div class="container">
            <div class="page-content">
                <div class="col-md-12 menu-list menu">
                    <button class="btn btn-primary btn-block dropdown-toggle">我的订单
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </button>
                </div>
                <div class="col-md-3">
                    <% include ./personal_content %>
                </div>
                <div class="col-md-9 shop-profile">
                    <div class="card-content">
                        <div class="panel-body">
                            <div class="row btn-money">
                                <a href="" class="btn btn-success addr-btn">账户充值</a>
                            </div>
                            <div class="addr-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="sorting">事件</th>
                                                    <th class="sorting">金额</th>
                                                    <th class="sorting">账户余额</th>
                                                    <th class="sorting">事由</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd">
                                                    <td class="data-empty" colspan="4">表中数据为空</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>
                                            显示第
                                            <span>0</span>
                                            至
                                            <span>0</span>
                                            项结果，共
                                            <span>0</span>
                                            项
                                        </p>
                                    </div>
                                    <div class="col-sm-7 next">
                                        <span>
                                            <a href="" class="list-group-item disabled">上页</a>
                                        </span>
                                        <span>
                                            <a href="" class="list-group-item disabled">下页</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%include ./footer2.ejs%>