<%include ./index_header.ejs%>
<link rel="stylesheet" href="/css/contact.css">
	<!-- 导航部分 -->
	<div class="container">
		<div class="company-title">
			<ul class="met-com-nav-ul">
				<li><a href="/dcl/company/" title="公司简介" class="com-link" id="com-active" alt="公司简介" title="公司简介">公司简介</a></li>
				<li><a href="/dcl/company#/xianshang" title="线上反馈" class="com-link line-find" alt="线上反馈" title="线上反馈">线上反馈</a></li>
				<li><a href="/dcl/join" title="加入我们" class="com-link" alt="加入我们" title="加入我们">加入我们</a></li>
				<li><a href="/dcl/contact" title="联系我们" class="com-link sel-link" alt="联系我们" title="联系我们">联系我们</a></li>
			</ul>
		</div>
		<!-- 联系我们 -->
		<div class="contact-box">
			<div class="contact-content">
				<div>
					<p>
						<span>联系我们</span>
					</p>
					<p>
						<span>公司地址:湖南省长沙市岳麓区街道256号</span>
					</p>
					<p>
						<span>联系电话:138 8888 6666</span>
					</p>
					<p>
						<span>QQ:111111111</span>
					</p>
					<p>
						<span>邮箱地址:123contactus@136.com</span>
					</p>
					<p>
						<span>公司官网:www.MeInfo.cn</span>
					</p>
					
				</div>
				<div class="jiantou">
					<a href="javascript:void(0)" class="glyphicon glyphicon-chevron-left con-left"></a>
					<a href="javascript:void(0)" class="glyphicon glyphicon-chevron-right con-right"></a>
				</div>
				<table class="table table-bordered table-hover table-striped tablesaw tablesaw-swipe">
 					<thead>
						<tr>
							<th b=0>
								<div class="contact-item">
									<img src="/images/about/1495852758238137.jpg" alt="" i=0>
								</div>
							</th>
							<th b=1>
								<div class="contact-item">
									<img src="/images/about/1495852770327041.jpg" alt="" i=1>
								</div>
							</th>
							<th b=2>
								<div class="contact-item">
									<img src="/images/about/1495852815803876.jpg" alt="" i=2>
								</div>
							</th>
						</tr>
 					</thead>
				</table>
				<!-- 点击出现的三张图片 -->
				<div class="contact-table-hide">
					<div class="table-hide-item">
						<div class="table-hide-list">
							<div class="hide-list-prev hide-img-group">
								<div class="hide-list-img">
									<img class="imgs" src="/images/about/1495852758238137.jpg" alt="">
								</div>
							</div>
							<div class="hide-list-content hide-img-group">
								<div class="hide-list-img">
									<img  class="imgs" src="/images/about/1495852770327041.jpg" alt="">
								</div>
							</div>
							<div class="hide-list-next hide-img-group">
								<div class="hide-list-img">
									<img  class="imgs" src="/images/about/1495852815803876.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="table-hide-header">
							<div>
								<span class="glyphicon glyphicon-zoom-out contact-suoxiao" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-zoom-in contact-fangda" aria-hidden="true"></span>
								<a class="glyphicon glyphicon-save" aria-hidden="true" target="_blank" download href="http://show.metinfo.cn/muban/res018/323/upload/201705/1495852758238137.jpg"></a>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</div>
						</div>
						<div class="table-hide-jiantou">
							<div class="glyphicon glyphicon-arrow-left jiantou-left"></div>
							<div class="glyphicon glyphicon-arrow-right jiantou-right"></div>
						</div>
						<div class="for-footer">
							<div class="table-hide-footer">
								<div class="hide-footer-list">
									<div class="footer-thumb-item footer-active">
										<img src="/images/about/1495852758238137.jpg" alt="">
									</div>
									<div class="footer-thumb-item">
										<img src="/images/about/1495852770327041.jpg" alt="">
									</div>
									<div class="footer-thumb-item">
										<img src="/images/about/1495852815803876.jpg" alt="">
									</div>
								</div>
							</div>
							<span class="glyphicon glyphicon-th footer-tubiao"></span>
						</div>	
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/contact.js"></script>
<%include ./index_footer.ejs%>