
<link rel="stylesheet" href="./css/footer2.css">
<div class="footer2">
     <div class="footnav text-center">
        <div class="container">
            <ul>
                <li class="col-sm-2 col-xs-4">
                    <a href="/dcl/company/" title="关于公司">关于公司</a>
                </li>
                <li class="col-sm-2 col-xs-4">
                    <a href="/ksy/newActive" title="最新活动">最新活动</a>
                </li>
                <li class="col-sm-2 col-xs-4">
                    <a href="/shopElectronics" title="电子产品">电子产品</a>
                </li>
                <li class="col-sm-2 col-xs-4">
                    <a href="/ksy/new-center" title="新闻中心">新闻中心</a>
                </li>
                <li class="col-sm-2 col-xs-4">
                    <a href="/dcl/service" title="服务支持">服务支持</a>
                </li>
                <li class="col-sm-2 col-xs-4">
                    <a href="/dcl/contact" title="联系我们">联系我们</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footCopy" style="text-align: center">
        <p>Copyright © 2017, MetInfo Digital Co., Ltd. All Rights Reserved.</p>
        <p>官方在线商城</p>
    </div>
</div>

<button class="to-top">
    <i class="glyphicon glyphicon-arrow-up"></i>
</button>
</body>
</html>