<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>登录页面</title>
	 <link rel="stylesheet" href="./css/boot/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/login.css">
	<!--让IE8 支持HTML5新标签 和 Media-->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- 头部 -->
	<div class="login-header">
		<div class="row row-header">
			<div class="col-xs-6 col-sm-6 login-logo">
				<ul>
					<li>
						<a href="./index" >
							<img src="./images/about/1495680343.png" alt="返回首页" title="返回首页">
						</a>
					</li>
					<li><i>|</i>会员登录 / </li>
					<li>
						<p>
							<a href="http://127.0.0.1:3000" class="admin">&nbsp;管理员登录</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 主体部分 -->
	<div class="login-container">
		<img src="./images/about/2.jpg" alt="">
		<div class="container">
			<div class="log-content">
				<div class="zhuce-header">欢迎登录</div>
				<form onsubmit="return denglu()">
					<div class="form-group">
						<span class="left fl"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
						<input id="username" type="text" class="fl" placeholder="请输入会员名" onblur="user()">
						<br style="clear:both">
						<div class="panduan"></div>
					</div>
					
					<div class="form-group pwd-group">
						<span class="left fl">
							<i class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></i>
						</span>
						<input id="pwd" type="password" class="fl input_text_password mima_dd" placeholder="请输入密码" onblur="pwds()">
						<input type="text" class="input_text_password mima_wz fl" style="display:none;" placeholder="请输入密码" onblur="pwds()">
						<i class="glyphicon glyphicon-eye-close yanjing-close" aria-hidden="true" i="0"></i>
						<i class="glyphicon glyphicon-eye-open yanjing-open" aria-hidden="true" style="display:none" i="1"></i>

						<br style="clear:both">
						<div class="panduan"></div>
					</div>
					<button type="button" class="btn btn-info btn1" onclick="denglu()">登录</button>

					<div class="nohave">
					没有账号？去 
						<a href="./register">注册 </a><span>/</span>
						<a href="/dcl/password">忘记密码</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- footer脚部 -->
	<div class="login-footer">
		<p>
			Copyright © 2017, MetInfo Digital Co., Ltd. All Rights Reserved.
		</p>
		<p>
			官方在线商城
		</p>
	</div>

	<!--[if gt IE 8]> <!-->
	<script src="./js/jquery-3.2.1.min.js"></script>
	<!--<![endif]-->

	<!--[if lte IE 8]>
	<script src="./js/jquery-1.12.4.min.js"></script>
	<![endif]-->
	<script src="./js/login.js"></script>
</body>
</html>