<%include ./index_header.ejs%>
    <link rel="stylesheet" href="/css/upline.css">
    <link rel="stylesheet" href="/css/travel.css">
    <link rel="stylesheet" href="/css/electronics.css">
    <link rel="stylesheet" href="/css/accessoryRim.css">

<div class="electronics">
    <div class="container">
        <div class="row">
            <div class="content-nav col-md-12">
                <div class="col-md-8 nav-list-left">
                    <ul class="ele-nav-list">
                        <li>
                            <a href="/ksy/newActive">最新活动</a>
                        </li>
                        <li class="rim-list">
                            <span class="select-to">配件周边 <i></i></span>
                            <ul class="show-rim-list">
                                <li>
                                    <a href="/accessoryRim#home">全部</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#/monitor">耳机</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#phoneParts">充电器</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#products">周边</a>
                                </li>
                            </ul>
                        </li>
                        <li class="rim-list">
                            <span>热门产品 <i></i></span>
                            <ul class="show-rim-list">
                                <li>
                                    <a href="/ksy/hotProduct#/hotAll">全部</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/jianguo">坚果手机文艺青年版</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/T2">Smartisan T2</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/M1">Smartisan M1/M1L</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/Pro">坚果Pro</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ksy/upline">线下聚会</a>
                        </li>
                        <li>
                            <a href="/ksy/travel">旅行活动</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="travel-box">
    <div class="container">
        <div class="travel-article text-center">
            <div class="travel-title">
                <strong class=" ">西湖游记</strong>
            </div>
            <!-- 每一篇文章 -->
            <div class="travle-one">
                <p>公司第一季度采风活动原定于2016年5月21日—22日周末两天时间，公司组织全体技术部门进行了第二季度采风活动

                    两天的游玩带给我们心情的愉悦和放松，让我们团队更加有了集体意识和努力工作的干劲。 
                </p>

                <div class="travle-one-title">1.翁家山茶园</div>
                <img src="/images/all/1495848676100991.jpg" alt="">
                <p>从公交车“翁家山”站下车，即可到达杭州海拔最高的村落－翁家山村。郁达夫笔下《迟桂花》描写的山野风光，只不过三月底还不是桂花时节，茶园才是这次造访的主要对象。
                翁家山是杭州西湖龙井茶的主要产地之一，正逢采茶时节，路边皆可看到村民们忙活着明前茶的景象。那口“老龙井”待在路旁，岁月蹉跎中静观人来人往。</p>
                <img src="/images/all/1495848733924796.jpg" alt="">
                <p>村民们都很热情地为我们指路，没多远便进入茶园。或许是下车时已经在山顶，还没铆足了劲儿登高，眼前便呈现出让都市人忍不住“wow”的景色。茶山一座接着一座，连绵起伏。当日山中有雾，景色不是最完美的状态，但这正是大自然的日常。</p>
                <img src="/images/all/1495848745563587.jpg" alt="">
                <p>在一片片茶园中，有着不少戴着蓑笠，背着竹篓的采茶人，努力采摘着珍贵的明前茶。我择一高处台阶，安静地坐着。微风习习，享受这山村的空气与自然带来的能量。眼前的景色唯有身临其境，才能感受到它的力量。</p>
                <img src="/images/all/1495848785664367.jpg" alt="">
                <p>这里便是翁家山，是我眼中不一样的杭州。</p>
            </div>
            

            <div class="travle-one">
                <div class="travle-one-title">2.中国茶叶博物馆龙井馆区</div>
                <p>茶园不远处，便是中国茶叶博物馆龙井馆区（即以前的龙井山园）。它与山林、茶田及具有江南特色的小屋一起，错落有致地分布在半山腰上。
                </p>
                <img src="/images/all/1495848936101258.jpg" alt="">
                <p>整个博物馆依山而建，新修的仿古建筑十分雅致。从大门开始，一路都是游步道，沿着蜿蜒的小路往山顶走，大约20分钟就能到达山顶。山顶有用木头搭建而成的观景平台，可以看到翁家山茶树和西湖。</p>
               
            </div>

             <div class="travle-one">
                <div class="travle-one-title">3.雲樹酒店</div>
                <p> 在翁家山茶园和博物馆附近，藏匿着雲樹酒店。白色的小楼，简洁而有力。这里的联合创始人均为建筑师出身，却懂得“置身事外”的艺术。空间改造与设计由日本的小大建筑Kooo architects负责，景观呈现则由菲律宾的原地环境设计事务所操刀。
                </p>
                <img src="/images/all/1495849048124163.jpg" alt="">
                <p>日本枯山水大师枡野俊明曾说过：“舍去，舍去，再舍去，直到舍无可舍。”雲樹酒店就是秉持着这样的信条，在最初的设计和建造过程中，重点考虑的不是做什么，反而是舍去什么。</p>
                <img src="/images/all/1495849064849791.jpg" alt="">
                <p>而留下的就是无可替代的，真正重要的东西。是空，是留白，是想象。现代、自然、简约、明亮，是我对这里的感受。因原有房屋结构的限制，空间、功能与自然的平衡显得极为重要。或许现实的呈现和理想有所差距，却恰恰是它和自然融合的地方。在这里，大部分的房间望出去便是绿油油的植被，早餐开始便可对着茶山发呆，这就是我们从钢筋混凝土中向往着的自然。</p>
                <img src="/images/all/1495849084106193.jpg" alt="">
               
            </div>
        </div>   
    </div>

</div>

<%include ./index_footer.ejs%>