<%include ./index_header.ejs%>
    <link rel="stylesheet" href="/css/upline.css">
    <link rel="stylesheet" href="/css/electronics.css">
    <link rel="stylesheet" href="/css/accessoryRim.css">

<div class="electronics">
    <div class="container">
        <div class="row">
            <div class="content-nav col-md-12">
                <div class="col-md-8 nav-list-left">
                    <ul class="ele-nav-list">
                        <li>
                            <a href="/ksy/newActive">最新活动</a>
                        </li>
                        <li class="rim-list">
                            <span class="select-to">配件周边 <i></i></span>
                            <ul class="show-rim-list">
                                <li>
                                    <a href="/accessoryRim#home">全部</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#/monitor">耳机</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#phoneParts">充电器</a>
                                </li>
                                <li>
                                    <a href="/accessoryRim#products">周边</a>
                                </li>
                            </ul>
                        </li>
                        <li class="rim-list">
                            <span>热门产品 <i></i></span>
                            <ul class="show-rim-list">
                                <li>
                                    <a href="/ksy/hotProduct#/hotAll">全部</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/jianguo">坚果手机文艺青年版</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/T2">Smartisan T2</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/M1">Smartisan M1/M1L</a>
                                </li>
                                <li>
                                    <a href="/ksy/hotProduct#/Pro">坚果Pro</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ksy/upline">线下聚会</a>
                        </li>
                        <li>
                            <a href="/ksy/travel">旅行活动</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <div clss="upline-main" id="upline-main">
    <div class="container">
        <div class="upline-main-content">
             <p class="text-center">
                公司里，各个岗位都有顶尖的人才坐镇，手艺地道的咖啡师随时为您端来一杯香浓的现磨咖啡，而专业的健身指导在你下班后就可以成为你的私人教练。你可以尽情享用美味，也可以在宽敞的健身房里挥汗如雨。工作之余，依然能够享受卓越的生活品质。
            </p>
            <img src="/images/all/1495850334634675.jpg" alt="">
            <div class="upline-box">
                <div class="col-sm-6 upline-box-img upline-box-img1"><img src="/images/all/1495850473461429.jpg" alt=""></div>
                <div class="col-sm-6 upline-box-img"><img src="/images/all/1495850487909907.jpg" alt=""></div>
            </div>
        </div>
       
    </div>
</div>
<%include ./index_footer.ejs%>