body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;} 
ol,ul{margin:0; padding:0;}
ul,li{
	list-style:none;
}

a{
	text-decoration:none;

}
.login-header{
	padding:0px 15px;
	margin:0 126.5px;
	overflow:hidden;
	height: 80px;
}
@media(max-width: 768px){
	.login-header{
		margin:0;
	}
}
@media(max-width:490px){
	.login-logo li{
		line-height:normal;
	}
}
.row-header{
	height: 100%;
}
.login-logo{
	height: 100%;
}
.login-logo li{
	float:left;
	height: 80px;
	line-height:80px;
	font-size:22px;
}
.login-logo li i{
	color:#ddd;
	font-size:22px;
	padding:0px 10px;
}
.pwd-container{
	position:relative;
	width: 100%;
	height: 423px;
	/*background-size:cover;
	background:url("../2.jpg") no-repeat;
	background-position:center center;*/
}
.pwd-container>img{
	width: 100%;
	height: 423px;
	padding:0px 100px;
}
.container{
	position:absolute;
	top:70px;

}
@media(max-width:768px){
	.pwd-container>img{
		padding:0px;
	}
}
.zhuce-header{
	text-align:center;
	font-size:24px;
	margin-bottom:15px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;  
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #ccc;
}

input::-ms-input-placeholder{
     color:#ccc;
}

input::-webkit-input-placeholder{
    color: #ccc;
}

.form-group input{
	width: 100%; 
	font-size: 15px; 
	height:43px;
	border:none; 
	border:1px solid #ccc; 
	padding:6px 12px;
	font-size:14px;
	line-height:1.428;
	color:#555;
	background-color:#fff;
	outline:none;
	outline:medium;
}
.panduan{
	height: 25px; 
	width: 100%; 
	font-size: 12px; 
	line-height: 16px; 
	color: red; 
}
.fl{float: left; }
.fr{float: right; }
.yanzheng{
	padding-right:16px;
	box-sizing:border-box;
}
.yanzheng input{
	width: 50%; 
}
.yanzhengma{
	width: 32%; 
	height:37px; 
}
.yanzhengma img{
	width: 100%; 
	height: 37px; 
	cursor:pointer;

}
@media(min-width:768px){
	.form-group{
		width: 300px;
	}
}
#yzm{
	width: 100%; 
	height: 37px; 
}
.form-group{
	margin-bottom:0;
}

.container form{
	margin:0 auto;
	max-width:500px;
	background-color:#fff;
	padding:30px;
	border-radius:6px;
	float:right;
}
.login-footer {
	padding:30px;
	text-align:center;
	color:#777;
}
.btn2{
	width: 100%;
	height:40px;
}
.login_link{
	margin-top:10px;
	text-align:right;
}