/*----------------全局样式-----------------*/
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;} 
ol,ul{margin:0; padding:0;}
ul li{list-style: none; } 
a{text-decoration: none; color:black;}
a:hover{text-decoration: none;}
a img{border:none;}
body{margin: 0 auto; font-family: "Microsoft YaHei";overflow-x: hidden;  background-color:#ededed;}
.fl{float: left; }
.fr{float: right; }
html{
    background-color:#ededed;
}

/*导航头部header*/
.new-header{
    background-color:#ededed;
}
.new-header ul li{
    float:left;
    padding: 20px 40px 20px 0px;
}
.new-header ul li a{
    color:#999;
    font-size: 12px;
}
.new-header ul li a:hover{
    color:#5079d9;
    text-decoration: none;
}


#upline-main{
    background: #ededed;
    margin-bottom: 30px;
}
.upline-main-content{
    border:1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    background: white;
}
.upline-main-content p{
    line-height: 30px;
}
.upline-main-content img{
    width:100%;
    height: auto;
}
.upline-box{
    overflow: hidden;
    margin-top: 10px;
   
}
.upline-box .upline-box-img{
    padding:8px;
    border:0.5px solid #ccc;
}
/*.upline-box .upline-box-img.upline-box-img1{
    border-right-width: 0px;
}*/


.select-to-link{
    color: #5079d9 !important;
}


/*旅行活动的页面*/
